html, body {
    height: 100%;
}

header {
    background-color: black;
    color: white;
    font-family: 'Overpass Mono', monospace;
}

#display{
    font-weight: 800;
    z-index: 1000;
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 15px;
    color: white;
    font-family: 'Overpass Mono', monospace;
    font-size: 20px;
  }

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewport {
    width: 1100px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url(../images/water0.png);
}

#ports {
    margin-top: 96px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url(../images/port.png);
}

#ship {
    width: 128px;
    height: 64px;
    background-image: url(../images/ship.png);
    position: absolute;
}

#sailbutton {
    border: 0;
    background-color: rgb(22, 25, 78);
    border-bottom: 4px solid rgb(22, 25, 78);
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Overpass Mono', monospace;
}

#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 14px;
  }

#message {
    padding: 16px;
    font-family: 'Overpass Mono', monospace;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 3px solid black;
    background-color: white;
}

